@{
    ViewBag.Title = "Password Reset Request";
    ViewBag.PageDescription = "Drink to much beer and forget your password? Request a reset here.";
}

<p>If you have forgotten your password, provide your email below and we will send you an email with a link that will allow you to reset your password.</p>
<form ng-controller="PasswordCtrl">
    <input type="email" id="txtEmail" ng-model="email" /> 
    <button type="button" class="btn btn-primary" ng-click="PasswordRequest()">Request Reset</button>
    <div ng-show="sent" class="alert alert-info">
        <button type="button" class="close" ng-click="error=false">&times;</button>
        <b>Error:</b> {{msg}}
    </div>
</form>