@{
    ViewBag.Title = "Password Reset Request";
    ViewBag.PageDescription = "Drink to much beer and forget your password? Request a reset here.";
}

<p>If you have forgotten your password, provide your email below and we will send you an email with a link that will allow you to reset your password.</p>

<form ng-controller="PasswordCtrl">
    <div class="text-center input-group">
        <input type="email" id="txtEmail" class="form-control" placeholder="Your email address" ng-model="email" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success" ng-click="PasswordRequest()">Request Reset</button>
        </span>
    </div>
    <br />
    <div ng-show="sent" class="alert alert-info">
        {{msg}}
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/Scripts/ngapps/password.js")
}