@{
    ViewBag.Title = "ResetPassword";
    ViewBag.PageDescription = "Time to reset that password!";
    bool isValid = ViewBag.ValidRequest;    
}

<p>@ViewBag.Message</p>

@if (isValid)
{
<div ng-controller="ResetCtrl">
    <form name="form" class="text-center" ng-hide="success">
        <div class="form-inline">
            <div class="form-group">
                <input type="password" id="txtPassword" name="txtPassword" class="form-control" ng-minlength="8" placeholder="Password" ng-model="password" />
            </div>
            <div class="form-group">
                <input type="password" id="txtConfirm" class="form-control" placeholder="Confirm Password" ng-model="confirm" />
            </div>
            <button type="submit" class="btn-sm btn-success" ng-disabled="password!=confirm||password.length<8" ng-click="ResetPassword()">Reset Password</button>
        </div>
        <div class="text-danger">
            <span class="error" ng-show="form.txtPassword.$error.minlength">Password must be at least 8 characters!<br /></span>
            <span class="error" ng-show="password!=confirm">Passwords must match!<br /></span>
        </div>
    </form>
    <br />
    <div ng-show="sent" class="alert alert-info">
        {{msg}}
    </div>
</div>    
}

@section Scripts {
    @if (isValid) { 
        <script>var useremail = "@ViewBag.Email";</script>
        @Scripts.Render("~/Scripts/ngapps/reset.js")
    }
}