@{
    ViewBag.Title = "Contact People";
    ViewBag.PageDescription = "This was a CB Hackathon effort for 2013. As such, the makers will support it to the best of their ability through the use of future Hackdays and Thinkdays.";
}

<div class="row">
    <div class="col-md-12">
        <p>The folks listed below are the ones responsible for this application. Whether you think they deserve praise or punishment, you can contact them below:</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/alex.png" class="img-circle img-responsive" />
        <h4>Alex Dost</h4>
        <p>Talent Network Software Engineer</p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/ben.png" class="img-circle img-responsive" />
        <h4>Ben Tidwell</h4>
        <p>Talent Network Software Engineer</p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/corri.png" class="img-circle img-responsive" />
        <h4>Corrine Olson</h4>
        <p>Talent Network Software Engineer</p>
    </div>
</div>
