@{
    ViewBag.Title = "Welcome!";
    ViewBag.PageDescription = "You have reached CB's BeerTech, home of your technologically advanced Beerrun!";
}

<div class="row">
    <div class="col-md-6">
        <h4>Why should I care?</h4>
        <p>Because everyone gets thirsty&mdash;<em>everyone</em>. This application lets you request your favorite thirst quencher for your local beer fridge (beer is not a requiorement, just a suggestion).</p>
    </div>
    <div class="col-md-6">
        <h4>How does it work?</h4>
        <p>Just sign up with your CB email address! This will let you make requests if your team has a beer fridge. If your team does not have one (yet), bother your bosses!</p>
    </div>
</div>