@{
    ViewBag.Title = "Requests";
    ViewBag.PageDescription = "This is where you can see what has been requested, and help out by fulfilling requests (or adding your own). Note: Beer may be encouraged, but you can request other things (alcoholic and none).";
}

<div class="container" ng-app ng-controller="RequestCtrl">
    <div class="row" id="searchloader">
        <div ng-hide="loaded" class="col-md-12 beerloader">&nbsp;</div>
        <div ng-show="loaded" class="col-md-6">
            <input ng-model="search" ng-change="filterSearch()" name="search" class="form-control" type="text" placeholder="Search for..." />
        </div>
        <div ng-show="loaded" class="col-md-6">
            <select ng-model="fridge" name="ddFridge" class="form-control" ng-options="f.Name for f in fridges" ng-change="filterFridge()">
                <option value="">All Fridges</option>
            </select>
        </div>
    </div>
    <div class="row" ng-show="loaded" ng-repeat="row in rows">
        <div class="col-md-4" ng-repeat="col in row">
            <div class="panel" ng-class="panelType(col.Status)">
                <div class="panel-heading"><b>{{col.BeverageTitle}}</b></div>
                <div class="panel-body">
                    <b>Status</b><br /> {{col.Status}}<br />
                    <b>Submitter</b><br /> {{col.Email}}<br />
                    <b>Submitted On</b><br /> {{date(col.RequestDate)}}
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/ngapps/request.js")
}
